body {
  background-image: url(./images/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  background: rgb(36, 7, 0);
  background: linear-gradient(
    90deg,
    rgba(36, 7, 0, 1) 0%,
    rgba(121, 117, 9, 1) 28%,
    rgba(0, 114, 255, 1) 100%
  );
}

ul {
  list-style-type: none;
}

#currentDay {
  border: 2px solid black;
}

#fiveForecast {
  margin-top: 25px;
}

li {
  padding: 10px;
}

.btn-wide {
  width: 15em;
}

#displayUV {
  padding: 10px;
  color: white;
}

.dayCard {
  background: rgba(192, 192, 216, 0.816);
  margin: 15px;
  color: white;
  padding: 10px;
}
