h1 {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

ul {
  list-style-type: none;
}

#currentDay {
  border: 2px solid black;
}

#fiveForecast {
  margin-top: 25px;
}

li {
  padding: 10px;
}

.btn-wide {
  width: 15em;
}

#displayUV {
  padding: 10px;
  color: white;
}

.dayCard {
  background: darkcyan;
  margin: 15px;
  color: white;
  padding: 10px;
}
