@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./images/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px 70px;
}
